@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
}
.App {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.App::before {
    content: '';
    background: url(./assets/sunset.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    /* top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.App .top {
    width: 100%;
    margin: 1rem auto;
}

.App .description {
    position: relative;
    right: -40%;
    top: -100%;
    transform-origin: 0, 0;
    transform: rotate(269deg);
    -webkit-transform: rotate(269deg);
    -moz-transform: rotate(269deg);
    -ms-transform: rotate(269deg);
    -o-transform: rotate(269deg);
}

.App .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}
.bold {
    font-weight: 700;
}
.App .search {
    text-align: center;
    padding: 1rem;
}
.App input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
}
::placeholder {
    color: #f8f8f8;
}

.joe {
    text-align: center;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
}

.link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #4b79cf;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px;
    z-index: 1;
}
.logo {
    width: 24px !important;
    height: 24px !important;
}

.link:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #4b79cf;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px;
    z-index: 1;
    text-align: center;
}
